h1{
    margin-top: 15px;
}

p{
    margin-top: 10px;
}

#logoImg{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.imgDesktop{
    width: 40%;
    object-fit: contain;
}

.mirrorContainer{
    width: 60%;
    margin: 15px;
}