h1{
    margin: 15px;
}

p{
    margin: 10px;
}

#logoImg{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#imgGlobal{
    filter: grayscale(50%);
}

#imgGlobal:hover{
    filter: sepia(0);
}

.imgDesktop{
    width: 40%;
    object-fit: contain;
}

.mirrorContainer{
    width: 60%;
    margin: 15px;
}

.sliderContainer{
    width: 80%;
}

.sliderImg{
    height: 150px;
    width: auto;
}

.formContainer{
    width: 100%;
}

form{
    margin: 20px;
    width: 50%;
}

svg{
    margin: 15px;
}

@media all and (min-width:426px){
    .sliderImg{
        filter: sepia(1);
    }
    .sliderImg:hover{
        filter: sepia(0);
    }    
}